<h2>Добавление контакта</h2>



<form action="/add" method="POST">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
	  <input type="text" class="form-control" placeholder="Фамилия Имя Отчество" aria-describedby="basic-addon1" name="name">
	</div>

	<br/>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></span>
	  <input type="text" class="form-control" placeholder="Номер телефона" aria-describedby="basic-addon1" name="phone">
	</div>

	<br/>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
	  <input type="text" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1" name="mail">
	</div>
	<br/>
	<input class="btn btn-primary btn-lg" type="submit" value="Добавить">
</form>

